/* CSS BY PJ graham */

/* IMPORTED FONTS*/
/* IMPORT "INTER" FROM GOOGLE FONTS"*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
/* MIN-WIDTH OF THE PAGE SHOULD NOT GO BELOW 400PX */
#mobile-first {
    min-width: 400px;
    margin: 0 auto;
    font-family: var(--font);
}

/* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header: Navbar, ul, li - Mobile Menu */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: var(--black);
    border-bottom: 2px inset var(--blue);
    border-radius: 2px;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding-left: 10px;
    color: var(--blue);
    font-size: 30px;
    font-weight:600;
}
/* ADD FLOATING SVG LOGO BEFORE THE H1 */
.logo:before {
    content: "";
    display: inline-block;
    width: 2em;
    height: 2em;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;
}
/* Hides the ul inside of the hamburger menu */

nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    text-align: center;
    transition: max-height 0.3s ease-out;
    height: 15vh;
    background: var(--black);
}

nav a {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
}

nav h2 {
  visibility:hidden;
  height:1px;
}

nav li a {
    display: block;
    font-family:var(--font);
    font-size: 1.15em;
    text-transform:uppercase;
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
    color: var(--blue);
    transition: background-color .3s ease-in;
}

nav a:hover, nav input:hover {
    background-color: var(--blue);
    color: var(--black);
}

/* Collaspe hamburger to make a single line */
nav label {
    display: inline-block;
    cursor: crosshair;
    padding: 2em;
    user-select: none;
}
label span {
    background-color: var(--white);
    display: block;
    height: .25rem;
    position: relative;
    transition: background-color .3s ease-out;
    width: 2rem;
}

/* Puts the two lines on top and bottom*/
label span:before, label span:after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: .75rem;
}
label span:after {
    top: -.75rem;
}
input[type=checkbox] {
  display:none;
}

/* Changes the height of the navbar when checked */
input:checked ~ ul {
    max-height: 600px;
}

/* LOCATION OF THE HAMBURGER */
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

/* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#hero h2, #hero a {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeDown 0.5s ease-out forwards;
}

#hero h2 {
    color: var(--white);
    padding: 10px;
    font-size: 1.75em;
    font-weight: bold;
    position: relative;
    top: 100px;
    animation-delay: 0.5s;
}

#hero p {
    color: var(--white);
    font-size: 1em;
    line-height: 1.5em;
    position: absolute;
    text-align: center;
    width: 80vw;
    animation-delay: 0.5s;
}

#hero a {
    width: 250px;
    height: 60px;
    position: relative;
    top: -100px;
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
    font-size: 1.15em;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    animation-delay: 0.5s;
}

#hero a:hover {
    transform: scale(110%);
    transition: 0.35s;
    background-color: var(--red);
    color: var(--white);
    text-decoration: none;
    font-family: var(--font);
    padding: 15px;
    border-radius: 10px;
}

/* About Section with H2 and p */
h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 20px;
    padding-left: 40px;
    animation: fadeDown 0.5s ease-out forwards;
}

p {
    line-height: 1.4em;
    font-size: 18px;
}

/* Services Section: H3, p = flexable grid layout */

@keyframes moveUp {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0);
    }
}

#services {
    grid-area: services;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
#services > div {
    background-color: var(--blue);
    color: var(--white);
    padding: 25px;
    border-radius: 10px;
}

#services > div:hover {
    animation: moveUp 2s ease-out forwards;
}
h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0 20px 10px;
    animation: fadeDown 0.5s ease-out forwards;
}

#services > p {
    font-size: 2.25em;
}

/* Results section: Table, th/tr/td 3x6 table grid with black and charcoal background cells */
#results {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--blue);
    color: var(--white);
}

.results-container {
    margin: 0 auto;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    background-color: var(--charcoal);
}

td, th {
    border: 1px solid var(--black);
    text-align: center;
    padding: 20px;
}

th {
    background-color: var(--black);
}

tr:nth-child(even) {
    background-color: var(--black);
}


/* THIS ONE IS DONE FOR YOU */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    position: relative;
}
/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: 2s;
    height: 0;
}
/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}
@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}
/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar {
    animation: stepUp 1s ease-in-out forwards;
}

/* Contact Section: Form, required, action POST, blue border labels, white text and black background */
#contact {
    display: grid;
    grid-template-columns: auto;
    background: var(--black);
    color: var(--white);
    padding: 0 30px 0 20px;
    margin: 0 auto;
}

.contact-info {
    font-size: 16px;
    padding: 0 20px;
}

/* Contact form table */
#table {
    font-size: 10px;
    padding: 10px;
    width: 200px;
    margin: 10px;
}

label {
    font-size: 16px;
}

input[type=text], input[type=email], textarea {
    display: inline-block;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 80vw;
    padding: 15px;
    margin-top: 4px;
    gap: 10px;
    border: 3px solid var(--blue);
    border-radius: 2px;
}

input:invalid {
    border: 2px solid var(--red);
}

/* Submit Button */
input[type=submit] {
    width: 80vw;
    color: var(--white);
    background-color: var(--blue);
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=submit]:hover {
    transform: scale(110%);
    transition: 0.35s;
    background-color: var(--red);
    color: var(--white);
    text-decoration: none;
    font-family: var(--font);
    padding: 15px;
    border-radius: 10px;
}

footer div {
    height: 10vh;
    margin: 20px;
}

footer p {
    font-size: 16px;
    text-align: center;
}


/* Viewports:
    Global style, mobile first (min-width: 400px) = 1 col, 6 rows
    Medium (min-width: 800px) = 2 col, 3 rows
    Large (min-width: 1024px) - 3 col, 2 rows */

/* MEDIA QUERIES (MEDIUM) */ 
@media screen and (min-width: 800px) {

/* Navbar */
    nav ul {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: flex-end;
        overflow:visible;
        position:absolute;
        top: 1.5rem;
        right: 2em;
        gap: 10px;
        margin: 10px;
      }
      nav li a {
        display:inline-block;
    }
      label span, input[type=checkbox] {
        display:none;
      }

/* Services section */
    #services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 10px;
        margin: 20px;
    }    

/* Results section */

    #results {
        display: flex;
        flex-direction: row;
        height: 60vh;
    }
    .results-container {
        columns: 2;
    }
    .results-table {
        width: 50vw;      
    }
    .bar-chart {
        width: 50vw;
    }

/* Contact form section */
    #contact {
        padding: 0 80px;
    }

}

/* MEDIA QUERIES (LARGE) */
@media screen and (min-width: 1072px) {
/* navbar */
    nav ul {
        overflow:visible;
        position:absolute;
        top: 1.5rem;
        justify-content: flex-end;
      }
      nav li a {
        display:inline-block;
    }
      label span, input[type=checkbox] {
        display:none;
      }

/* Services section */
      #services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }    
    
/* Results section */
    #results {
        grid-template-rows: 1fr 1fr;
    }
    .results-container {
        columns: 2;
    }
    .results-table {
        width: 40vw;      
    }
    .bar-chart {
        width: 40vw;
    }

/* Contact Form */

#table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

input[type=text], input[type=email], textarea {
    display: inline-block;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 40vw;
    gap: 10px;
    border: 3px solid var(--blue);
    border-radius: 2px;
}
/* Submit Button */
input[type=submit] {
    width: 40vw;
    color: var(--white);
    background-color: var(--blue);
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=submit]:hover {
    transform: scale(95%);
    transition: 0.35s;
    background-color: var(--red);
    color: var(--white);
    text-decoration: none;
    font-family: var(--font);
    padding: 15px;
    border-radius: 10px;
}